In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("C:\\Users\\Anubhav\\Desktop\\Data Science\\NAIVE BAYES\\play_tennis.csv")
data.head()
data.drop(columns=['day'], inplace=True)

In [4]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [5]:
# Consider we need to find
# outlook=sunny, temp = hot , humidity= high, wind= weak
# then play or not?

#solution 
# p(yes/sunny,hot,high,weak) = p(sunny/yes)*p(hot/yes)*p(high/yes)*p(weak/yes)*p(yes)
# p(no/sunny,hot,high,weak) = p(sunny/no)*p(hot/no)*p(high/no)*p(weak/no)*p(no)

# compare the result and decide the maximum posteriori rule

In [6]:
# p[yes] and p[no]= ?
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [7]:
py = 9/14
pn = 5/14

In [8]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [9]:
# outlook

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [10]:
# probalbility of overcast, rain,sunny with no
pon=0 
prn=2/5
psn=3/5

# probalbility of overcast, rain,sunny with yes

poy = 4/9
pry = 3/9
psy = 2/9

In [11]:
# temp

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [12]:
# probalbility of cool, hot, mild with no
pcoolno=1/5
photno=2/5
pmildno=2/5

# probalbility of cool, hot, mild with yes

pcoolyes = 3/9
photyes = 2/9
pmildyes = 4/9

In [13]:
# humidity

pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [14]:
# probalbility of high, normal with no
phighno=4/5
pnormalno=1/5


# probalbility of high, normal with yes

phighyes = 3/9
pnormalyes = 6/9

In [15]:
# wind

pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [16]:

# probalbility of strong, weak with no
pstrongno=3/5 
pweakno=2/5


# probalbility of strong, weak with yes

pstrongyes = 3/9
pweakyes = 6/9

In [17]:
# now solution for outlook=sunny, temp = hot , humidity= high, wind= weak

pyes = py * psy  *photyes   *phighyes * pweakyes 

print(pyes)

0.007054673721340388

In [18]:
pno = pn * psn * photno  * phighno * pweakno
print(pno)

0.02742857142857143

### CONCLUSION
***no play as pno is greater than pyes***